.btn-default:hover {
    color: #333;
    background-color: #f1f1f1;
    border-color: #d6d6d6;
}

@font-face{
    font-family: 'MyriadSetPro';
    src:url('/static/css/MyriadSetPro-Ultralight.ttf');
    font-weight: 200;
}